body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  color: #444;
}

/*
 * Create dark grey header with a white logo
 */
 
header {
  background-color: #ffffff;
  height: 35px;
  width: 100%;
  opacity: 1.0;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #B80000;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #000000;
  text-decoration: none;
}
header h1 a {
  color: #fe5d5d;
  text-decoration: none;
}


header h1 a:hover {
  color: #fe2020;
  text-decoration: none;
}

/*
 * Center the body content
 */
 
.container {
  width: 940px;
  margin: 0 auto;
}

div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -300px;

  width: 600px;
}

div.result {
  padding: 10px 0 30px 0;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {

  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  color: #fe5d5d;
}

h3 {

  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 2.5em;
  font-weight: 100;
  margin-top: 30px;
  letter-spacing: -1px;
  color: #fe2020;

  display: inline;
}

h4 {

  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 30px;
  letter-spacing: -1px;
  color: #fe2020;

  display: inline;
}

h5 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 1.0em;
  font-weight: 100;
  margin-top: 30px;
  letter-spacing: -1px;
  color: #fe4444;

  display: inline;
}


/*
 * Display navigation links inline
 */

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #fe5d5d;
  text-decoration: none;
}


.menu li a:hover {
  color: #fe2020;
  text-decoration: none;
}

/* Contact form */
form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}
 
form input#course {
  width: 200px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #fe0101;
  padding: 5px;
  font-size: 1.1em;

  color: #555555;
}

 
form textarea#message {
  width: 500px;
  height: 100px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;

}
 
form input#submit {
  display: block;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #de0101;
  padding: 10px;
  font-weight:bold;
  text-align: center;
  color: #ffffff;
  background-color: #df0101;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe2020), color-stop(100%, #fe2020));
  background-image: -webkit-linear-gradient(top, #fe2020, #fe2020);
  background-image: -moz-linear-gradient(top, #fe2020, #fe2020);
  background-image: -ms-linear-gradient(top, #fe2020, #fe2020);
  background-image: -o-linear-gradient(top, #fe2020, #fe2020);
  background-image: linear-gradient(top, #fe2020, #fe2020);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fe2020, endColorstr=#fe2020);

  display: inline;
}
 
form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1;
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 200px;

  color: 555555;
  display: inline;
}


img.floatleft{
  float:left;
  margin:6px 6px 6px 0px;
} 


/* Talbe */
#hor-minimalist-b

{

	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

	font-size: 12px;

	background: #fff;

	margin: auto;

	width: 480px;

        border-collapse: collapse;

	text-align: left;

}

#hor-minimalist-b th

{

	font-size: 14px;

	font-weight: normal;

	color: #df1010;

	padding: 10px 8px;

	border-bottom: 2px solid #df1010;

}

#hor-minimalist-b td

{

	border-bottom: 1px solid #fe5d5d;

	color: #fe5d5d;

	padding: 6px 8px;

}

#hor-minimalist-b tbody tr:hover td

{

	color: #fe1010;

}


