{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <img class="floatleft" src="{{url_for('static', filename='img/peepingpete.png')}}" width="50%" height="50%">
    </br>
    </br>
    </br>
    <h3>Simplify</h3><h4> your hunt for the prefect schedule</h4>
    <h5>Type course to begin (e.g. cs180)</h5>
    <form action="{{ url_for('home') }}" method=post>
      {{ form.hidden_tag() }}
      {{ form.course }}
      {{ form.submit }}
    </form>

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% if success %}
    <table border="1">
      <tr>
        <td>Course</td>
        <td>Time</td>
        <td>Type</td>
        <td>Available Seats</td>
      </tr>

      {% for entry in table %}
      <tr>
        <td>{{ entry[0]}}</td>
        <td>{{ entry[1]}}</td>
        <td>{{ entry[2]}}</td>
        <td>{{ entry[3]}}</td>
      </tr>
      {% endfor %}

    </table>
    {% endif %}
  </div>

  
{% endblock %}
